body {
    background-color: rgb(250, 241, 223);
    
}



h1 {
    text-align: center;
    font-family: Glorien, sans-serif;
}
 
h3 {
    text-align: center;
    font-style: italic;
}
p {
    font-family: Glorien, sans-serif;

   
}

.poem {
    text-align: center;
}

